*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing:border-box;
    text-align: center;
}
a{
    color: rgb(255, 255, 255);
}

canvas{
    padding: 10px;
    margin: 10px;
    background-color: rgb(134, 158, 202) ;
    float: right;
}
body{
    width: 900px;
    margin: 0 auto;
    border: ridge;
}
body.contact{
    width: 900px;
    border: ridge;

}

section{
    overflow: auto;
    height: 100%;
}

article{
    background-color: rgb(57, 98, 175) ;
    padding: 10px;
    margin: 10px;
}
article.projects{
    background-color: rgb(57, 98, 175) ;
    padding: 10px;
    margin: 10px;
    float: left;
    width: 48%;
    height: 420px;
}
dt{
    color: rgb(255, 255, 255);
    text-align: left;
    padding-bottom: 5px;
    padding-top: 5px;
}
dd{
    color: rgb(255, 255, 255);
    text-align: left;
    padding-bottom: 10px ;

}
main{
    background-color: rgb(57, 98, 175) ;
    padding: 10px;
    width: 70%;
    height: 292px;
    margin: 10px;
    float: left;
}
main.contact{
    background-color: rgb(57, 142, 175) ;
    padding: 10px;
    width: 97.8%;
    height: 300px;
    margin: 10px;
    float: left;
}


img{
    background-color: rgb(57, 98, 175) ;
    padding: 10px;
    width: 25%;
    margin: 10px;
    float: right;
}
img.book{
    background-color: rgb(57, 98, 175) ;
    padding: 10px;
    width: 410px;
    margin: 10px;
    float: right;
}
img.contact{
    background-color: rgb(57, 142, 175) ;
    padding: 10px;
    width: 210px;
    margin: 10px;
    float: right;
}
ul.contact{
    display: inline-flex;
}


nav{
    background-color: rgb(57, 98, 175) ;
    padding: 10px;
    margin: 10px;
}

nav.contact{
    background-color: rgb(57, 142, 175) ;
    padding: 10px;
    margin: 10px;
}


li{
    display: inline-flex;
    padding: 10px; 
}
li.contact{
    text-align: left;
    display:flow-root;
}

body{
    background-color:cornflowerblue;

}
p{
    color: azure;
}

p.contact{
    
    text-align: left;
    padding: 10px;
}
p.contact2{
    font-size: 10px;
    text-align: left;
    padding: 10px;
}
p.book{
    text-align: left;
}

h1.contact{
    color: aliceblue;
    text-align: left;
    padding-left: 15px;
    padding-bottom: 10px;
}
h1{
    color: rgb(24, 24, 24);
    padding-left: 15px;
    padding-bottom: 10px;
    
}
h2{
    color: rgb(255, 255, 255);
    padding-left: 15px;
    padding-bottom: 10px;
    
}






